@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inconsolata:wght@200..900&display=swap');


:root {
    /* font */
    --head-txt: "Archivo Black", sans-serif;
    --des-txt: "Inconsolata", sans-serif;

    /* Dark Theme */
    --dark-text: #EEE5E5;
    --dark-background: #0E1C36;
    --dark-primary: #80FF72;
    --dark-secondary: #099c94;
    --dark-accent: #9792E3;


    --dark-text-50: #f5f0f0;
    --dark-text-100: #ebe0e0;
    --dark-text-200: #d7c1c1;
    --dark-text-300: #c3a2a2;
    --dark-text-400: #ae8484;
    --dark-text-500: #9a6565;
    --dark-text-600: #7b5151;
    --dark-text-700: #5d3c3c;
    --dark-text-800: #3e2828;
    --dark-text-900: #1f1414;
    --dark-text-950: #0f0a0a;

    --dark-background-50: #ebf0fa;
    --dark-background-100: #d6e1f5;
    --dark-background-200: #aec3ea;
    --dark-background-300: #85a5e0;
    --dark-background-400: #5d87d5;
    --dark-background-500: #3469cb;
    --dark-background-600: #2a54a2;
    --dark-background-700: #1f3f7a;
    --dark-background-800: #152a51;
    --dark-background-900: #0a1529;
    --dark-background-950: #050a14;

    --dark-primary-50: #e8ffe5;
    --dark-primary-100: #d1ffcc;
    --dark-primary-200: #a3ff99;
    --dark-primary-300: #75ff66;
    --dark-primary-400: #47ff33;
    --dark-primary-500: #1aff00;
    --dark-primary-600: #14cc00;
    --dark-primary-700: #0f9900;
    --dark-primary-800: #0a6600;
    --dark-primary-900: #053300;
    --dark-primary-950: #031a00;

    --dark-secondary-50: #e7fefc;
    --dark-secondary-100: #cffcfa;
    --dark-secondary-200: #9ff9f5;
    --dark-secondary-300: #6ef7f0;
    --dark-secondary-400: #3ef4eb;
    --dark-secondary-500: #0ef1e6;
    --dark-secondary-600: #0bc1b8;
    --dark-secondary-700: #08918a;
    --dark-secondary-800: #06605c;
    --dark-secondary-900: #03302e;
    --dark-secondary-950: #011817;

    --dark-accent-50: #ecebfa;
    --dark-accent-100: #d8d6f5;
    --dark-accent-200: #b2aeea;
    --dark-accent-300: #8b85e0;
    --dark-accent-400: #655dd5;
    --dark-accent-500: #3e34cb;
    --dark-accent-600: #322aa2;
    --dark-accent-700: #251f7a;
    --dark-accent-800: #191551;
    --dark-accent-900: #0c0a29;
    --dark-accent-950: #060514;



    /* light theme */
    --light-text: #191010;
    --light-background: #cad8f1;
    --light-primary: #2E6171;
    --light-secondary: #65f6ef;
    --light-accent: #221c6d;


    --light-text-50: #f5efef;
    --light-text-100: #ebe0e0;
    --light-text-200: #d7c1c1;
    --light-text-300: #c3a2a2;
    --light-text-400: #af8383;
    --light-text-500: #9c6363;
    --light-text-600: #7c5050;
    --light-text-700: #5d3c3c;
    --light-text-800: #3e2828;
    --light-text-900: #1f1414;
    --light-text-950: #100a0a;

    --light-background-50: #ebf0fa;
    --light-background-100: #d7e2f4;
    --light-background-200: #aec4ea;
    --light-background-300: #86a7df;
    --light-background-400: #5e89d4;
    --light-background-500: #366cc9;
    --light-background-600: #2b56a1;
    --light-background-700: #204179;
    --light-background-800: #152b51;
    --light-background-900: #0b1628;
    --light-background-950: #050b14;

    --light-primary-50: #edf5f8;
    --light-primary-100: #dbebf0;
    --light-primary-200: #b7d7e1;
    --light-primary-300: #92c4d3;
    --light-primary-400: #6eb0c4;
    --light-primary-500: #4a9cb5;
    --light-primary-600: #3b7d91;
    --light-primary-700: #2c5e6d;
    --light-primary-800: #1e3e48;
    --light-primary-900: #0f1f24;
    --light-primary-950: #071012;

    --light-secondary-50: #e7fefc;
    --light-secondary-100: #cffcfa;
    --light-secondary-200: #9ff9f5;
    --light-secondary-300: #6ef7f0;
    --light-secondary-400: #3ef4eb;
    --light-secondary-500: #0ef1e6;
    --light-secondary-600: #0bc1b8;
    --light-secondary-700: #08918a;
    --light-secondary-800: #06605c;
    --light-secondary-900: #03302e;
    --light-secondary-950: #011817;

    --light-accent-50: #ecebfa;
    --light-accent-100: #d8d6f5;
    --light-accent-200: #b2aeea;
    --light-accent-300: #8b85e0;
    --light-accent-400: #655dd5;
    --light-accent-500: #3e34cb;
    --light-accent-600: #322aa2;
    --light-accent-700: #251f7a;
    --light-accent-800: #191551;
    --light-accent-900: #0c0a29;
    --light-accent-950: #060514;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-background);
    color: var(--dark-text);
}

header {
    font-family: var(--des-txt);
    background-color: var(--dark-background-900);
}

.nav-heading span{
    color: var(--dark-primary);
}

header ul li a {
    transition: opacity 0.4s ease-in;
}

.list-item.active {
    color: var(--dark-accent);
    opacity: 1;
}

.list-item.active:hover a {
    color: var(--dark-accent);
    opacity: 1;
    text-decoration: none;
}

.socials {
    color: var(--dark-primary);
}

.socials a {
    transition: opacity 0.4s ease-in;
}

.hamburger span {
    background-color: var(--dark-accent-400);
    transition-property: transform, opacity, background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    z-index: 100;
}

.hamburger.active span:first-child {
    top: 50%;
    transform: rotate(45deg);
    background-color: var(--dark-primary);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:last-child {
    top: 50%;
    transform: rotate(-45deg);
    background-color: var(--dark-primary);
}

.ham-menu {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: -300px;
    background-color: var(--dark-background-700);
    height: 100vh;
    width: 300px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.ham-menu.active {
    opacity: 1;
    right: 0;
}



























